@import '../util.scss';


.def-layout {
	padding-top: to-rem($HEADER_HEIGHT);
  .glb-header {
  }
  .glb-container {
	display: flex;
	background: #fff;
	justify-content: center;
	min-height: 100vh;
	min-height: FN_CONTAINER_HEIGHT();
	.gl-aside{
		width: to-rem(450px);
		height: FN_CONTAINER_HEIGHT();
		overflow: hidden;
		overflow-y: auto;
		position: sticky;
		left: 0;
		top: to-rem(calc($HEADER_HEIGHT + 0px));

	}
	.gl-contents{
		// margin-left: auto;
		// margin-right: auto;
		.cont-injt{
			display: flex;
			align-items: flex-end;
			margin-bottom: to-rem(30px);
			.cnt-tit{
				.c-tit{
				font-size: to-rem($FONT_SIZE_XXLG);
				font-weight: $FONT_WEIGHT_BOLD;
				color: $COLOR_BLACK;
				line-height: 1.5;
				word-break: break-all;
				}
				.b-tit{
					margin-top: to-rem(8px);
					font-size: to-rem($FONT_SIZE_SM);
					font-weight: $FONT_WEIGHT_REGULAR;
					line-height: 1.53;
					letter-spacing: -0.45px;
					text-align: left;
					color: $COLOR_888;
				}
				max-width: 100%;
				text-align: left;
			}
			.cnt-bred{
				margin-left: auto;
				margin-right: 0;
			}
		}
	}
	.inner-section{
		min-width: 0;
		width: $DEVICE_CONTENT_WIDTH;
		padding: to-rem(40px) to-rem($DEVICE_AUTO_MARGIN);
	}
  }
}