@import '../util.scss';

.bx-header{
	border-bottom: 1px solid #efefef;
	position: fixed;
	left: 0;
	width: 100%;
	top: 0;
	background: #fff;
	z-index: 1;
	.bx-header-inner{
		.inner-section{
			padding: to-rem(20px) to-rem($DEVICE_AUTO_MARGIN);
			display: flex;
			align-items: center;
			& .h-logo{}
			& .h-artc-area{
				margin-left: auto;
				margin-right: 0;
			}
		}
		.h-logo{}
		.h-artc-area{
			display: flex;
			align-items: center;
			justify-content: end;
			gap: to-rem(5px);
			.h-search-ar{
				margin-right: to-rem(10px);
				.bx-input-field.h-sea-inf{
					.bx-inner{
						border-radius: to-rem(calc($FORM_HEIGHT * $SIZE_RATIO_SM));
						min-width: to-rem(320px);
						padding-right: to-rem(calc(($FORM_HEIGHT * $SIZE_RATIO_SM) / 2));
						.bx-inf{
							text-indent: to-rem(calc(($FORM_HEIGHT * $SIZE_RATIO_SM) / 2));
						}
					}
				}
				.h-sea-bt{}
			}
			.h-et-atic{
				width: to-rem(calc($FORM_HEIGHT * $SIZE_RATIO_XSM));
				height: to-rem(calc($FORM_HEIGHT * $SIZE_RATIO_XSM));
				border-radius: to-rem(calc($FORM_BORDER_RADIUS * $SIZE_RATIO_XSM));
				background-color: $COLOR_F2;
				.ic{
					color: #000;
				}
			}
		}
	}
}